* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: #09090b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  position: relative;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .logo .logos {
  color: #fff;
}
.navbar .nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
.navbar .nav-links .dropdown {
  position: relative;
}
.navbar .nav-links .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #09090b;
  top: 140%;
  left: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1rem;
  width: 350px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}
.navbar .nav-links .dropdown .dropdown-content .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.navbar .nav-links .dropdown .dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar .nav-links .dropdown .dropdown-content a:hover {
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 6px;
}
.navbar .nav-links .dropdown:hover .dropdown-content, .navbar .nav-links .dropdown:focus-within .dropdown-content {
  display: flex;
  opacity: 1;
  visibility: visible;
  gap: 30px;
  border-radius: 10px;
  box-shadow: #9c9ca4 0px 0px 2px;
}
.navbar .mobile-menu {
  display: none;
  font-size: 2rem;
}

main {
  background-color: #000;
  padding: 0.1rem;
  padding-top: 2.5rem;
  color: #9c9ca4;
  text-align: center;
  height: calc(100vh - 5rem);
  position: relative;
  z-index: 1;
}
main .welcome-section {
  margin-bottom: 4rem;
}
main .welcome-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
main .welcome-section p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
main .content-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
main .food-courts,
main .features {
  background-color: #000;
  padding: 2rem;
  border-radius: 10px;
  width: 35%;
  box-shadow: #dcdcdc 0px 0px 3px;
}
main .food-courts h2,
main .features h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
main .food-courts ul,
main .features ul {
  list-style-type: none;
  padding-left: 0;
}
main .food-courts ul li,
main .features ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 20px;
  position: relative;
}
main .food-courts ul li::before,
main .features ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #0a84ff;
  border-radius: 50%;
}
main .cta-button {
  background-color: #fff;
  color: #09090b;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1.5rem;
}
main .cta-button:hover {
  background-color: #dcdcdc;
  color: #09090b;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
    height: auto;
  }
  .navbar .logo {
    font-size: larger;
    margin-bottom: rem;
  }
  .navbar .nav-links {
    display: none;
    width: 100%;
    margin-top: 1rem;
  }
  .navbar .nav-links.show {
    display: flex;
    justify-content: space-evenly;
  }
  .navbar .nav-links .dropdown-content {
    position: static;
    width: 100%;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .navbar .nav-links .dropdown:hover .dropdown-content, .navbar .nav-links .dropdown:focus-within .dropdown-content {
    display: block;
  }
  .navbar .mobile-menu {
    display: block;
  }
  main {
    width: 100%;
    height: auto;
  }
  main .content-section {
    flex-direction: column;
  }
  main .food-courts,
  main .features {
    width: 100%;
    margin-bottom: 1rem;
  }
  main .cta-section {
    margin-bottom: 8vh;
  }
}/*# sourceMappingURL=style.css.map */